# Configurações do Banco de Dados
db_host=CHANGE-ME
db_user=CHANGE-ME
db_password=CHANGE-ME
db_name=CHANGE-ME

jwt_secret_key=CHANGE-ME

# Configurações de Email (Gmail SMTP)
# Para Gmail, gere uma senha de app em https://myaccount.google.com/apppasswords
mail_server=smtp.gmail.com
mail_port=587
mail_use_tls=True
mail_username=CHANGE-ME
mail_password=CHANGE-ME


